<footer class="container-fluid" id="footer">
  <div class="container" id="footer-links">
    <a target="_blank" href="mailto:betich365@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
    <a target="_blank" href="https://github.com/betich"><i class="fab fa-github fa-3x"></i></a>
    <a target="_blank" href="https://twitter.com/7h33_p4n17h1"><i class="fab fa-twitter fa-3x"></i></a>
  </div>
  <p>&copy;YelpCafe 2020, all rights reserved.</p>
</footer>
<script async>
  function checkWinSize() {
    if ($(window).width() > 992) {
      $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
          $('nav').add("#nav-container").add(".collapser").addClass("shrink");
        } else {
          $('nav').add("#nav-container").add(".collapser").removeClass("shrink");
        }
      });
    } else $(window).unbind();
  }

  window.setInterval(checkWinSize, 500);
</script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169040124-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169040124-1');
</script>

</body>
</html>
