<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The Place to find all your favorite cafes.">
    <meta name="keywords" content="Yelp, YelpCafe, Cafe, Yelp cafe">
    <meta name="author" content="bTch">
    <meta name="google-site-verification" content="UEHfeVgRxrgvxgFdibfPLPVlZWrP61Tfj6_N6QymoM4">
    <meta name="description" content="Submit and Review Cafes from all over the world!">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <title>YelpCafe</title>
    <link rel="icon" href="/img/favicon.svg">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">

    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top justify-content-between">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fas fa-mug-hot mr-2"></i>YelpCafe</a>
            </div>
            <ul class="navbar-nav navbar-left">
                <li class="nav-item"><a href="/cafes" class="nav-link">Back to Home</a></li>
            </ul>
        </div>
    </nav>

    <!-- Flash Messages -->
    <header class="container" id="flash">
        <% if(msg_error && msg_error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= msg_error %>
            </div>
        <% } else if(msg_success && msg_success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= msg_success %>
            </div>
        <% } %>
    </header>
