<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCafe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top justify-content-between">
        <div class="container-fluid" id="nav-container">
            <!-- Navbar brand-->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fas fa-mug-hot mr-2"></i>YelpCafe</a>
            </div>
            
            <!-- Navbar toggle button -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapser" aria-controls="collapser" aria-expanded="false" aria-label="Toggle navigation">
            <span class="dark-blue-text">
                <i class="fas fa-bars fa-1x"></i>
            </span></button>

            <!-- Collapsible Content -->
            <div class="navbar-collapse collapse" id="collapser">
                <ul class="navbar-nav navbar-right ml-auto">
                <!-- User Stuff-->
                <% if(user) { %>
                    <li class="nav-item"><a class="nav-link mr-2" href="#">Signed in as <%= user.username %></a></li> 
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Signup</a></li>
                <% } %>
                </ul>
            </div>
        </div>
    </nav>