<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The Place to find all your favorite cafes.">
    <meta name="keywords" content="Yelp, YelpCafe, Cafe, Yelp cafe">
    <meta name="author" content="bTch">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <title>YelpCafe</title>
    <link rel="icon" href="/img/favicon.svg">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <script async src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top justify-content-between">
        <div class="container" id="nav-container">
            <!-- Navbar brand-->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fas fa-mug-hot mr-2"></i>YelpCafe</a>
            </div>
            
            <!-- Navbar toggle button -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapser" aria-controls="collapser" aria-expanded="false" aria-label="Toggle navigation">
                <span class="dark-blue-text">
                    <i class="fas fa-bars fa-1x"></i>
                </span>
            </button>

            <!-- Collapsible Content -->
            <div class="navbar-collapse collapse" id="collapser">
                <ul class="navbar-nav navbar-left">
                    <li class="nav-item"><a href="/cafes" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                </ul>
                <ul class="navbar-nav navbar-right ml-auto">
                <!-- User Stuff-->
                <% if(user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= user.username %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="username" href="#"><%= user.username %></a>
                            <a class="dropdown-item" href="#">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/cafes/new">Create a new Cafe</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Signup</a></li>
                <% } %>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Flash Messages -->
    <header class="container" id="flash">
    <% if(msg_error && msg_error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= msg_error %>
        </div>
    <% } else if(msg_success && msg_success.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <%= msg_success %>
        </div>
    <% } %>
    </header>