<%- include('partials/header')%>

<div class="container" id="about">
    <section class="content-block" id="about-header">
        <h1>About Us</h1>
        <p>Hi, I am Betich. Nice to meet you!</p>
    </section>
    <section class="content-block" id="about-img">
        <figure>
            <img src="/img/cat.jpg" alt="Image of a Cafe" class="image-col">
            <figcaption>Random picture of a cat :3</figcaption>
        </figure>
    </section>
    <section class="content-block">
        <h1>Hey there!</h1>
        <div class="row" id="about-content">
            <div class="col-lg-8 col-md-12">
                <div class="about-block" style="margin-right: -15px;">
                    <h4>hfhwofohoewfhi</h4>
                    <p>Ullamco officia qui veniam consequat do consectetur laborum do voluptate reprehenderit enim irure. Commodo aliqua sit dolore ex labore pariatur deserunt mollit sunt fugiat. Amet consequat ut non voluptate laboris incididunt cupidatat aute.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="about-block" style="margin-right: 0;">
                    <p>Hhahahahh</p>
                    <p>Cillum cillum in in pariatur voluptate. Enim reprehenderit eiusmod exercitation nulla. Nulla cillum laboris laborum dolor duis nulla proident sit ad labore voluptate. Eiusmod Lorem id excepteur sit. Sunt occaecat in consequat est culpa pariatur deserunt consequat voluptate ex id aliqua. Laborum consequat anim et qui duis dolore laborum deserunt voluptate. Labore adipisicing nisi magna minim quis et pariatur duis mollit incididunt ipsum fugiat aliqua.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="content-block">
        <h1>Hey there!</h1>
        <div class="row" id="about-content">
            <div class="col-lg-8 col-md-12">
                <div class="about-block" sytle="margin-right: -15px;">
                    <h4>hfhwofohoewfhi</h4>
                    <p>Ullamco officia qui veniam consequat do consectetur laborum do voluptate reprehenderit enim irure. Commodo aliqua sit dolore ex labore pariatur deserunt mollit sunt fugiat. Amet consequat ut non voluptate laboris incididunt cupidatat aute.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="about-block" style="margin-right: 0;">
                    <p>Hhahahahh</p>
                    <p>Cillum cillum in in pariatur voluptate. Enim reprehenderit eiusmod exercitation nulla. Nulla cillum laboris laborum dolor duis nulla proident sit ad labore voluptate. Eiusmod Lorem id excepteur sit. Sunt occaecat in consequat est culpa pariatur deserunt consequat voluptate ex id aliqua. Laborum consequat anim et qui duis dolore laborum deserunt voluptate. Labore adipisicing nisi magna minim quis et pariatur duis mollit incididunt ipsum fugiat aliqua.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer')%>