<%- include ("partials/header") %> 

<!-- THUMBNAILS
    https://www.pexels.com/photo/beans-coffee-morning-espresso-9186/
    https://www.pexels.com/photo/beautiful-botanical-coffee-decoration-374757/
    https://www.pexels.com/photo/caffeine-coffee-cup-mug-134577/
-->
<h1>Landing Page</h1>

<p>Welcome to YelpCafe!</p>

<a href="/cafes">View All Cafes</a>

<%- include ("partials/footer") %> 