@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --starColor: green;
    --priceColor: green;
}
i.\.hoveredStars, i.\.clickedStars {
    background-color: var(--starColor) !important;
}
i.\.hoveredDollars, i.\.clickedDollars {
    color: var(--priceColor) !important;
}

/* Doc Styles */

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 16px;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: hidden;
	background-color: rgb(49, 49, 49);
}

.form {
	width: 100vw;
	height: 80vh;
	position: absolute;
	left: 50%;
	margin: auto;
}
.contents {
	position: relative;
	left: -50%;
	width: calc(40% + 20vh);
	margin: 24px auto;
}

.form-title {
	position: relative;
	text-align: center;
	margin: 30px auto;
	padding-bottom: 10px;
	width: 100%;
    font-size: calc(1.5vw + 1.75rem);
	font-family: 'Bitter', sans-serif;
	font-weight: bold;
	color: rgb(255, 255, 255);
	border-bottom: 5px solid rgb(124, 18, 238);
	line-height: 1.5em;
}
.cafe-name {
	background-color: rgb(255, 81, 0);
	color: white;
	font-size: calc(1.5vw + 1.8rem);
}

input[type="password"]:invalid {
	border: 2px solid red;
}
input[type="number"] {
	display: none;
}
.input-group-text {
	background-color: rgb(255, 255, 255);
}
.input-group-text i {
	color: rgb(65, 6, 137);
}

.required:before {
    content:" *";
	color: salmon;
	font-size: 1.2em;
	margin-right: 10px;
}

.link {
	position: relative;
	text-align: center;
	margin-top: 30px;
}

textarea {
	resize: none;
	height: 200px;
	min-height: 150px;
}

label {
	font-size: 1em;
}

a.navbar-brand {
	font-family: 'Bitter', serif;
	color: rgb(255, 255, 255) !important;
	transition: .1s ease-in-out;
	font-weight: bold;
}
a.navbar-brand:hover { border-bottom: 3px solid rgb(255, 83, 83); }
a.nav-link, a.navbar-brand i {
	color: rgb(255, 255, 255) !important;
	transition: .1s ease-in-out;
}
a.nav-link:hover { border-bottom: 3px solid rgb(255, 83, 83); }
.bg-dark {
	background-color: #252020 !important;
	margin-bottom: 50px;
}

a {
	color: rgb(202, 255, 202);
}
a:hover {
	color: rgb(147, 255, 172);
	text-decoration: none;
}

.btn { transition: .3s ease-in-out; }
.blue {
	background: rgb(143, 52, 255);
	color: white;
}
.blue:hover {
	background: rgb(87, 36, 164);
	color: white;
}

#flash {
	margin-top: 15px;
}

.preview {
	display: inline;
	margin-left: 15px;
}

.icons {
	margin: 30px 0;
}
.icons label {
	margin-right: 10px;
}
.icons > i {
	user-select: none;
	color: white;
	background-color: #bbb;
	font-size: 1.2em;
	transition: 0.1s ease-in-out;
	padding: 0.45em 0.5em;
	border-radius: 10px;
}
.icons > .price {
  background-color: rgba(0, 0, 0, 0);
  color: #bbb;
  padding: 5px;
  font-size: 2em; 
  letter-spacing: -8px;
}
.icons > .star:hover { box-shadow: 1px 1.5px 3px #555; }
.icons > i:hover { transform: translate(0, -3px); }
.icons > i:active { transform: translate(0, 1px); }
