@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgb(240, 240, 240);
    margin: 0 auto;
}

::selection {
	background-color:whitesmoke;
	color:#4d3736;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #ececec;
    position: relative;
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 2em;
    font-weight: 700;
}

blockquote {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 1.75em 10px;
    padding: 0.75em 10px;
    line-height: 1.75em;
}
blockquote:before {
    position: absolute;
    top: 0;
    font-size: 1.75em;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgb(41, 41, 41)
}
legend {
    text-transform: uppercase;
    font-family: 'Bitter', serif;
    margin-top: 20px;
    font-size: 1em;
    text-align: left;
}
#sublegend {
    font-size: 0.8em;
    font-weight: light;
    margin: 5px 0;
    text-align: left;
}
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.profilepic {
    width: 150px;
    height: 150px;
    padding: 16px 18px;
    margin: 0;
    background-color: rgb(255, 223, 116);
}

.btn-center {
    position: absolute;
    left: 50%;
}
.scroll-btn {
    position: relative;
    color: white;
    background-color: rgb(255, 196, 0);
    border: 3px solid rgb(35, 24, 24);
    border-radius: 50%;
    padding: 16px 20px;
    left: -50%;
}
.scroll-btn:hover {
    background-color: rgb(208, 159, 0);
}
.scroll-btn i {
    font-size: 36px;
}
#scrolldown {
    top: 94vh;
}
#scrollup {
    bottom: 12vh;
}

.info-col {
    margin: 15px 0;
}
.info-col h4 {
    font-size: 1.5em;
    margin: 20px 0 25px 0;
}

.block {
    position: relative;
    padding: 30px;
    margin: 0 auto;
    color: #3d2c2b;
    text-align: center;
}
.block * { color: #4d3736; }
.block *::selection { background-color: #322616; color: whitesmoke; }

.block h1 { 
    margin: 30px 0 15px 0;
    width: 100%;
}
.block p {
    margin: 20px 0;
}

.bg1 { background-color: #f3f3f3; }

.bg2 { background-color: #e0dada; }

#bg3 { background-color: #232323; }
#bg3 * { color: whitesmoke; }

#bg3  *::selection {
    background-color: whitesmoke;
    color: #232323;
}

.faq {
    padding: 20px 30px;
    margin: 25px;
    background-color: white;
    font-size: 1em;
}
.faq a:hover {
    text-decoration: none;
}
.faq-header h5 {
    text-align: left;
    font-weight: 400;
    margin-right: 30px;
    width: 90%;
}
.faq-header:before {
    position: absolute;
    right: 65px;
    font-size: 1.35em;
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.collapsing {
    margin-top: 0;
    transition-delay: .3s;
    transition-timing-function: linear;
}

.salmon {
    position: relative;
	background: rgb(255, 91, 73);
    color: whitesmoke;
    transition: .3s ease-in-out;
    padding: 1.4em 1.7em;
    border-radius: 15px;
    border: 5px double rgb(32, 32, 32);
    margin: 30px auto 0 auto;
}
.salmon:hover {
    background: rgb(235, 26, 78);
	color: whitesmoke;
}

#register {
    font-weight: bold;
    position: relative;
	background-color: rgb(255, 227, 137);
    color: rgb(23, 23, 23);
    border: 5px double rgb(23, 23, 23);
    border-radius: 15px;
    padding: 1em 1.2em;
    margin: 40px auto 100px auto;
    transition: .1s ease-in-out;
}
#register:hover {
    background-color: rgb(255, 196, 0);
    border-color: rgb(49, 38, 38);
}

#footer {
	background: #3f3f44;
	color: whitesmoke;
    width: 100vw;
    padding: 30px 0;
    margin: 0;
    height: 5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
#footer > *::selection {
	background: whitesmoke;
	color: rgb(51, 51, 51);
}

/* Slideshow stuff */

#landing-header {
    z-index: 1;
    text-align: center;
    padding: 30vh 0;
    margin: 0 auto;
    position: relative;
}
#landing-header h1 {
    color: white;
    font-size: 4.3em;
}
#landing-header p {
    color: rgb(212, 212, 212);
    font-size: 1.15em;
    margin: 30px 10px;
}
#landing-header > * {
    margin-bottom: 20px;
}

.slideshow {
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #222831;
}
.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imgAnim 25s linear infinite;
}
.slideshow li:nth-child(1) { 
    background-image: url(/img/bg1.jpg) 
}
.slideshow li:nth-child(2) { 
    background-image: url(/img/bg2.jpg);
    animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(/img/bg3.jpg);
    animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(/img/bg4.jpg);
    animation-delay: 15s; 
}
.slideshow li:nth-child(5) { 
    background-image: url(/img/bg5.jpg);
    animation-delay: 20s; 
}
.slideshow li:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgb(34, 25, 18);
	background: linear-gradient(50deg, rgb(17, 13, 9) 21%, rgb(80, 60, 46) 76%);
	opacity: 0.85;
}

@keyframes imgAnim { 
    0% {
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}

.no-cssanimations .slideshow li {
	opacity: 1;
}

@media (min-width: 768px) {
    .quote .block {
        padding: 30px 50px;
    }
}