* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: hidden;
}
::selection {
	background-color: #4d3736;
	color: whitesmoke;
}

h1,
.navbar-brand {
	font-family: 'mukta', sans-serif;
	font-size: calc(2.5vw + 40px);
	font-weight: bold;
}

a {
	color: rgb(67, 150, 118);
}
a:hover {
	color: rgb(37, 119, 78);
	text-decoration: none;
}
a i {
	display: inline;
}

#cafe-card {
	margin: 1em auto;
	min-width: 14rem;
	max-width: 25rem;
	min-height: 300px;
}
.thumb {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	padding: 0;
	margin: 0;
}
.thumb:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.thumb-info .caption {
	padding: 9px;
}

#img-container {
	background: rgb(236, 232, 223);
	margin: 0 auto 4vh auto;
	padding: 0;
	display: block;
}
.image {
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100rem;
	object-fit: cover;
	max-height: 400px;
}

.text {
	line-height: 24px;
	text-indent: 5px;
}
#comment {
	margin: 7px 0 45px 0;
}
#comment p {
	line-height: 3em;
}

.form-title {
	text-align: center;
	margin-top: 75px;
	font-size: calc(1rem + 25px);
}

.inline-btn {
	display: inline-block;
	margin-right: 5px;
}

.list-group {
	padding: 20px;
}
.list-group-item {
	height: 70px;
	display: flex;
	align-items: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.list-group-item:hover {
	border: 1.5px solid rgba(45, 47, 63, 0.3);
}

.content-block {
	margin: 20px 0;
}

textarea {
	resize: none;
	height: 200px;
}

/* Image on Text */
/* Other bg: https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=956&q=80 */
#bg-container {
	height: 75vh;
	margin: 40px 0;
}
#img-bg {
	background-image: url("/img/cover.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	position: relative;
	height: 100%;
	margin-bottom: 50px;
	object-fit: cover;
	overflow: hidden;
	opacity: 0.8;
	align-items: center;
	margin: 0;
}
#img-bg:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgb(34, 25, 18);
	background: linear-gradient(90deg, rgb(17, 13, 9) 21%, rgb(80, 60, 46) 76%);
	opacity: 0.85;
}
.bg-jumbo {
	font-weight: bold;
	color: white;
	line-height: 50px;
	text-align: center;
	position: relative;
}
.bg-text::selection {
	background: whitesmoke;
	color: rgb(75, 47, 47);
}
.bg-jumbo h1 {
	color: white;
	font-weight: bolder;
}
.bg-jumbo h6 {
	color: rgb(228, 228, 228) !important;
}

/* BTN Colors */
.btn { transition: .3s ease-in-out; }
.brown {
	background: #6d4e4e;
	color: white;
}
.brown:hover {
	background: #531717;
	color: white;
}
.blue {
	background: #3d4c6c;
	color: white;
}
.blue:hover {
	background: #281f77;
	color: white;
}
.yellow {
	background: rgb(255, 241, 116);
    color: rgb(39, 39, 39);
    margin-top: 30px;
    padding: 1em 1.2em;
    border-radius: 50px;
}
.yellow:hover {
    background: rgb(255, 238, 6);
	color: rgb(39, 39, 39);
}

/* Navbar */
nav .navbar-brand {
	font-size: 22px;
	font-weight: bolder;
}
nav {
	background-color: #f8f8f8;
	height: 75px;
	padding: 0 !important;
	width: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
	position: sticky;
}
#nav-container {
	width: 100vw;
	padding: 5px 20px;
	background: #f8f8f8;
}
nav .navbar-toggler[aria-expanded="true"] span:first-of-type {
	transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
nav .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
	opacity: 0;
}

/* rotate third span */
nav .navbar-toggler[aria-expanded="true"] span:last-of-type {
	transform: rotate(-45deg) translate(5px, -5px);
}

nav .navbar-toggler[aria-expanded="false"] span {
	transform: none;
	opacity: 1;
}

nav .navbar-toggler span {
	display: block;
	margin: 6px auto;
	transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
	border: none;
	outline: none !important;
}
nav .navbar-toggler {
	outline: none;
}

/* rotate first span */
nav .navbar-toggler[aria-expanded="true"] span:first-of-type {
	transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
nav .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
	opacity: 0;
}

/* rotate third span */
nav .navbar-toggler[aria-expanded="true"] span:last-of-type {
	transform: rotate(-45deg) translate(5px, -5px);
}

nav .navbar-toggler[aria-expanded="false"] span {
	transform: none;
	opacity: 1;
}

#footer {
	background: #3f3f44;
	color: whitesmoke;
    width: 100vw;
    padding: 30px 0;
    margin: 0;
    height: 5%;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    z-index: 1;
}
#footer > *::selection {
	background: whitesmoke;
	color: rgb(51, 51, 51);
}